/* bolds text*/
nav a {
    font-weight: bold;
    text-decoration: none;
    align-items: center;
}

body {
    background: linear-gradient(to bottom, #000418, #0d1952);
    background-attachment: fixed;
    display: flex;


}

/* Global styles */
body {

    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/* header content */
header {
    padding-left: 1rem;
    padding-right: 1rem;
    align-self: center;
}

/* Main content */
main {
    padding-left: 1rem;
    padding-right: 1rem;
}

/* Wrapper container */
#wrapper {
    background-color: #000000;
    width: 75%;
    margin: 0 auto;
    padding: 2rem;
    box-sizing: border-box;


}

.image-wrap {
    float: right;
    /* THIS is what breaks the text */
    width: 350px;
    height: 550px;

    background-image: url("images/white.jpeg");
    background-size: cover;
    background-position: center;

    margin: -50px 40px 100px 40px;
    /* spacing from text */
}

p {
    line-height: 1.7;
}

.mm_logo {
    width: 115px;
    /* set size */
    height: 115px;
    float: right;
    background-image: url("images/logo_2.svg");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: right;
    margin: 10px 35px 10px 30px;

}

header {
    background-color: #001322, opacity: 5%;
    color: #FFFFFF;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(90, 98, 214);
    font-size: 40px;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(90, 98, 214);
    font-size: 30px;
}